caption{
  font-family: monospace;
  font-weight: 600;
  font-size: 30px
}

table{
  border-collapse: collapse;
  padding-left: 5%;
  width: 100%;
  align-content: center;
}

th{
  font-size: 20px;
  border-bottom: 10px solid blue;
  margin: auto;
  font-family: monospace;
  text-align: left;

  height: 60px;
}

td{
  padding-top: 2%;
  padding-left: 1%;
  font-family: Helvetica;
  font-size: 16px;
  text-align: left;
  border-bottom: 1px solid black;
}
tfoot{
  padding-top: 15px;
  border-top: 10px solid blue;
}

td.content-category{
  background: lightgrey;
  font-weight: bolder;
  margin: auto;
  color: white;
  opacity: 0.5;
}
